.article {
  .image {
    height: 73vh;
    display: block;
    margin: auto;
  }
  .wrapper {
    width: 80%;
    margin: auto;
    .title {

    }
    .hits {
      padding-top: 1em;
    }
    .summary {
      border-left: 6px double black;
      padding-left: 1em;
    }
    .content {
    }
    .share {
      padding-top: 1em;
      h5 {
        position: sticky;
        top: 60px;
      }
      .social-share-button {
        position: sticky;
        top: 90px;
      }
    }
  }
}
